@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5E63BA;
    padding: 0 10px;
}
.container {
    display: flex;
    align-items: flex-end;
    width: 850px;
    gap: 70px;
    padding: 60px 40px;
    background-color: #fff;
    border-radius: 10px;
}
.hangman-box img {
    max-width: 270px;
}
.hangman-box h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.45rem;
    margin-top: 10px;
}
.word-display {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.word-display .letter {
    width: 28px;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}
.game-box h4 {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .gusses-text b {
    color: #ff0000;
}
.game-box .keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
}
:where(.game-model, .keyboard) button{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    background-color: #5E63BA;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.keyboard button {
padding: 7px;
width: calc(100% / 9 - 5px);
}
.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
:where(.keyboard,.game-model) button:hover {
    background-color: #8286c9;
}
.game-model {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 2009;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}
.game-model.show {
    opacity: 1;
    pointer-events: auto;
}
.game-model img {
    max-width: 130px;
    margin-bottom: 10px;
}
.game-model .content {
    background-color: #fff;
    text-align: center;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
}
.game-model h4 {
    font-size: 1.53rem;
}
.game-model p {
    font-size: 1.15rem;
    font-weight: 500;
    margin: 15px 0 30px;
}
.game-model p b {
    color:#5E63BA;
    font-weight: 600;
}
.game-model button {
    padding: 12px 23px;
}

@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img {
        max-width: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
}